@font-face {
  font-family: 'Chiller'; 
  src: url('./images/CHILLER-FONT/CHILLER.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}    
    * {
        padding: 0;
        margin: 0;
    }
    html {
        height: 100%;
    }
    .nav {
        background: #f48563;
        width: 100%;
        height: 298px;
        padding: 8px;
    }
    button {
        color: #f48563;
        border-style: none;
        width: 58px;
        height: 43px;
        border-radius: 5px;
        font-size: 22px;
        font-family: 'Lucida Sans';
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    button:hover {
        background-color: #CFD8DC;
        border: 1px solid salmon;
        animation: btnMove 0.8s linear infinite;
        color: whitesmoke;
    }
@keyframes btnMove {
        0% {
                transform: translate(0);
        }
        20% {
                transform: translate(-2px, 2px);
        }
        40% {
                transform: translate(-2px, -2px);
        }
        60% {
                transform: translate(2px, 2px);
        }
        80% {
                transform: translate(2px, -2px);
        }
        100% {
                transform: translate(0);
        }
}
#del {
    width: 50px;
}
#zntsk  {
    width: 90%;
    height: 690px;
    background-color: #f48563;
    box-shadow: -2px -3px 73px 6px rgba(0,0,0,0.67);
    border-radius: 13px;
    display: inline-flex;
    padding: 12px;
    margin: 8px;
    margin-left: 4%;
    position: relative;
    top: 170px;
}
#znchtask{
    width: 30%;
    height: 450px;
    position: relative;
    bottom:5px ;
    margin: 5px;
    border: 3px solid whitesmoke;
    border-radius: 5px;
}
#znte  {
    width: 90%;
    height: 690px;
    background-color: #f48563;
    box-shadow: -2px -3px 73px 6px rgba(0,0,0,0.67);
    border-radius: 13px ;
    display: inline-flex;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    top: 440px;
}
#znch {
    width: 350px;
    height: 395px;
    background-color: #F3F5F8;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
#znchnts{
    width: 350px;
    height: 450px;
    position: relative;
    left: 20%;
    top: 10px;
    border-radius: 8px;
    background-color: #f48563;
    border: 3px solid whitesmoke;
}
input,textarea { 
    border: 0;
    border-bottom: 1px solid salmon;
    text-align: center;
    display: flex;
    position: relative;
    background-color: #F3F5F8;
    margin: 20px;
    left: 60px;
    bottom: 55px;
    width: 220px;
}
input::placeholder{
    color: #f48563;
    font-weight: lighter;

}
textarea::placeholder{
    color: #f48563;
    font-weight: lighter;
}
#elf {
    width: 95px;
    height: 90px;  
    padding: 10px;
}
ul { 
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.btn-nav {
    border: 0;
    border: 2px solid whitesmoke;
    margin: 5px;
    width: 65px;
    height: 40px;
    border-radius: 3px;
    font-family: 'Lucida Sans';
    background-color: #f48563;
    font-size: 20px;
    position: relative;
    bottom: 85px;
    display: flex;
    color: whitesmoke;
}
.btn-nav:hover {
    background-color: whitesmoke;
    color: #f48563;
}
a:visited {
    color:whitesmoke;
}
a:link {
    color:whitesmoke;
    text-decoration: none;
}
a:hover {
    color: #f48563;
}
.text-main {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    color: whitesmoke;
}
.btn_nts {
    position: relative;
    left: 165px;
    display: flex;
    top: 50px;
    border: 1px solid #f48563;
    background-color: whitesmoke;
}
.btn_nts:hover{
    background-color: #f48563;
    color: whitesmoke;
}
footer {
    width: 100%;
    height: 100px;
    background: #f48563;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
input {
    border-bottom: 1px solid salmon;
    text-align: center;
    font-size: 13px;
}
.input_style_descriptions {
    font-size: 14px;
    width: 350px;
}
#elf1 {
    width: 60px;   
}
#elf2 {
    width: 150px;
    height: 98px;  
    display: flex;
    margin-bottom: 55px;
    position: relative;
    right: 100px;
}
#elf3 {
    width: 100px;
    height: 90px;  
    position: relative;
    margin-left: 45%;
    margin-right: 50%;
    top: 60%;
}
#mn-p {
    display: flex;
    position: absolute;
   margin-top: 160px;
   margin-left: 30%;
   width: 100%;
}
p { 
    display: flex;
    align-items: flex-end;
    font-family: chiller;
    font-size: 35px;
    color: white;
}
#p-main {
    background-color: #f48563;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    position: relative;
    bottom: 50px;
}
#logo {
    display: flex;
    position: relative;
    left: 300px;
    bottom: 150px;
    width: 250px;
}
.ul-li {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    float: right;
    margin-right: 20px;
}
.main { 
    height: 2900px;

}
#taskUI {
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    font-weight: bold;
    width: 400px;
    height: 45px;
    align-content: center;
    padding: 2px;
    color: #f48563;
    margin-left: 55px;
}
#clip {
    width: 80px;
    height: 80px;
    position: relative;
    left: 49%;
    bottom: 65px;
}
#txt-nav {
    position: relative;
    right: 95px;
    font-family: 'Lucida Sans';
    font-size: 20px;
} 
#clip2 {
    width: 80px;
    height: 80px;
    position: relative;
    left: 49%;
    bottom: 50px;
}
#curva {
    height: 80px;
    width: 2400px;
    background-color: #f48563;
    clip-path: path('M0,64L40,42.7C80,21,160,1,240,24C320,47,400,55,480,39.3C560,31,640,19,720,10.7C800,3,880,15,960,29.3C1040,47,1120,57,1200,36C1280,15,1360,21,1400,34.7L1440,64L1440,192L1400,192C1360,192,1280,192,1200,192C1120,192,1040,192,960,192C880,192,800,192,720,192C640,192,560,192,480,192C400,192,320,192,240,192C160,192,80,192,40,192L0,192Z');
    transform: rotate(3.142rad);
    position: relative;
    right: 970px;
    bottom: 66px;
}
#curva-pie {
    height: 68px;
    width: 1500px;
    background-color: #f48563;
    position: relative;
    bottom: 80%;
    clip-path: path('M0,64L40,42.7C80,21,160,1,240,24C320,47,400,55,480,39.3C560 ,31,640,19,720,10.7C800,3,880,15,960,29.3C1040,47,1120,57,1200,36C1280,15,1360,21,1400,34.7L1440,64L1440,192L1400,192C1360,192,1280,192,1200,192C1120,192,1040,192,960,192C880,192,800,192,720,192C640,192,560,192,480,192C400,192,320,192,240,192C160,192,80,192,40,192L0,192ZM0,64');
    transform: scaleX(-1);
}
#app {
   overflow: hidden;
}
.img-tks {
    width: 80px;
    height: 80px;
    position: relative;
    top: 45px;
}
#bt-main {
    position: relative;
    display: flex;
    margin: auto;
    bottom: 50px;   
    background-color: whitesmoke;
    border: 1px  solid #f48563;
    color: #f48563;
}
.linea {
    background-color: whitesmoke;
    width: 300px;
    height: 200px;
    position: relative;
    left: 18%;
    border-radius: 5px;
    padding: 5px;
    bottom: 25%;
}
.bt-main {
    background-color: #F3F5F8;
    border: 2px solid salmon;
    display: flex;
    height: 60px;
    position: relative;
    right: 30px;
}
#bt-main:hover {
    background-color: #f48563;
    color: whitesmoke;
}
#img-task {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
#img-task2 {
    width: 30px;
    height: 30px;
    margin: auto;
}
.table {
    font-size: 14px;
    padding: 4px;
    font-family: calibri;
}
.btn-del {
    width: 40px;
    height: 40px;
}
.btn-del:hover {
    border: 0;
}
.btn-edit {
    width: 38px;
    height: 38px;
} 
#up {
    width: 10%;
    height: 10%;
    position: relative;
    right: 11%;
    animation: delisiocin 0.8s linear infinite;
}
#up-nts {
    width: 10%;
    height: 10%;
    position: relative;
    right: 11%;
    top: 10px;
    animation: delisiocin 0.8s linear infinite;   
}
#down {
    width: 10%;
    height: 10%;
    position: relative;
    left: 1055px;
    top: 40px;
    animation: delisiocin 0.8s linear infinite;
}
.tareastxt {
    font-family: 'Lucida Sans';
    color: #f48563 ;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    width: 500px;
}
#clip4 {
    position: relative;
}
@keyframes delisiocin {
    0% {
              transform: translate(0);
    }
    20% {
              transform: translate(-2px, 2px);
    }
    40% {
              transform: translate(-2px, -2px);
    }
    60% {
              transform: translate(2px, 2px);
    }
    80% {
              transform: translate(2px, -2px);
    }
    100% {
              transform: translate(0);
    }
  }
  .formNts {
    background-color: whitesmoke;
    width: 400px;
    position: relative;
    bottom: 80px;
    margin-left: 50px;
    border-radius: 8px;
    height: 100px;
}
  #output {
    background-color: whitesmoke;
    color: #f48563;
    font-size: 20px;
    padding: 2px;
    border-radius: 6%;
    position: relative;
    right: 65px;
    height: 36px;
    display: none;
  }
  #txt-note {
    position: relative;
    color: #f48563;
    background-color: whitesmoke;
    font-size: 20px;
    width: 100%;
    font-weight: lighter;
    text-align: center;
  }
  #txt-task {
    color: #f48563;
    font-family: 'Lucida Sans';
    font-size: 19px;
    background-color: whitesmoke;
    width: 100%;
    position: relative;
    text-align: center;
    font-weight: lighter;
  }
#nts {
    background-color: whitesmoke;
    color: #f48563;
    margin: 8px;
    border-radius: 10px;
    padding: 5px;
}
.mn-bd {
    border: 3px solid whitesmoke;
    border-radius: 8px;

/*aqui va el overflow*/}
.text-task {
    color: #f48563;
    font-size: 17px;
    margin: auto;
    background-color: whitesmoke;
    position: relative;
    justify-content: center;
    font-family: 'Lucida Sans';
}
.text-nts {
    position: relative;
    margin-bottom: 22px;
    background-color: whitesmoke;
    color: #f48563;
    font-family: 'Lucida Sans';
    font-size: 18px;
    text-align: center;
    justify-content: center;
    bottom: 75px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


}
.container-nts {
    border: 3px solid whitesmoke;
    border-radius: 8px;
    height: 666px;
    position: relative;
    top: 10px;
} 
@media only screen and (max-width: 1080px) {
#logo {
    display: none;
}
#txt-nav {
    display: none;
}
#elf2 {
    position: relative;
    left: 25px;
}
#znchtask {
    width: 50%;
    position: relative;
    top: 550px;
    left: -240px;
}
#zntsk {
    height: 1000px;
}
#txt-note {
    font-size: 18px;
}

#znte{
    height: 1000px;
}
#znchnts{
    position: relative;
    top: 550px;
    left: -195px;
    display: flex;
}
#elf2{ 
    width: 300px;
    height: 150px; 
}

}
