    * {
        padding: 0;
        margin: 0;
    }
    html {
        height: 100%;
    }
    .nav {
        background: #FFE4DC -webkit-gradient(linear, left top, left bottom, from(#D95E39), to(#FFE4DC)) no-repeat;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    button {
        background-color: #f48563;
        color: azure;
        border-style: none;
        width: 58px;
        height: 43px;
        border-radius: 5px;
        font-size: 22px;
        font-family: Bradley Hand ITC;
    }
    button:hover {
        background-color: whitesmoke;
        color: salmon;
        border: 1px solid salmon;
        animation: btnMove 0.8s linear infinite;
        font-size: 18px;
    }
@keyframes btnMove {
        0% {
                transform: translate(0);
        }
        20% {
                transform: translate(-2px, 2px);
        }
        40% {
                transform: translate(-2px, -2px);
        }
        60% {
                transform: translate(2px, 2px);
        }
        80% {
                transform: translate(2px, -2px);
        }
        100% {
                transform: translate(0);
        }
}
@keyframes btnMove {
        0% {
                transform: translate(0);
        }
        20% {
                transform: translate(-2px, 2px);
        }
        40% {
                transform: translate(-2px, -2px);
        }
        60% {
                transform: translate(2px, 2px);
        }
        80% {
                transform: translate(2px, -2px);
        }
        100% {
                transform: translate(0);
        }
 }
#del {
    width: 20px;
}
#zntsk ,#znte {
    width: 350px;
    height: 350px;
    background-color: #F3F5F8;
    box-shadow: -1px 10px 14px 4px rgba(212,212,212,1);
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
#znch {
    width: 350px;
    height: 450px;
    background-color: #F3F5F8;
    box-shadow: -1px 10px 14px 4px rgba(212,212,212,1);
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
input,textarea { 
    border: 0;
    border-bottom: 1px solid salmon;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%   ;
}
#zntsk, #znte, #znch {
margin: 25px;
display: inline-flex;
justify-content: space-around;
}

#elf {
    width: 80px;
    height: 80px;
    position: absolute;
}
nav ul { 
    list-style-type: none;
}
nav ul li {
    display: inline-block;
}
.btn-nav {
    border: 1px solid whitesmoke;
    margin: 5px;
    width: 65px;
    height: 40px;
}
.text-main {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    font-family: MV Boli;
}
.btn_nts {
    position: relative;
    left: 15px;
    display: flex;
}
footer {
    width: 100%;
    height: 50px;
    background: #FFE4DC -webkit-gradient(linear, left top, left bottom, from(#FFE4DC), to(#D95E39)) no-repeat;
    position: fixed;
    bottom: 0px;
}
input {
    border-bottom: 1px solid salmon;
    text-align: center;
    font-size: 13px;
}
.input_style_description {
    font-size: 13px;
}
.notie-container {
    text-align: center;
    width: 90px;
    border-radius: 8px;
    border: 3px solid salmon;
    color: salmon;
}



